.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  min-height: 100vh;
  height: fit-content;
 
}

.overlay-sign-in {
  width: 100%;
  height: 15rem;
  background: url("../../assets/bg5.jpg") no-repeat center;
  background-size: cover;
  
}
.sign-in-heading{
  margin-top: 1rem;
}
.sign-in-form {
  height: fit-content;
  margin: 1rem;
  padding: 1rem;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sign-in-input {
  background-color: var(--light);
  padding: 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
}

.signin-btn {
  color: aliceblue;
  padding: 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  text-transform: uppercase;
  box-shadow: 1px 3px 6px rgb(5, 0, 0);
  background-color: var(--dark);
  font-size: larger;
  transition: 1s;
  cursor: pointer;
}
.signin-btn:hover{
  background-color: rgba(142, 100, 107, 0.904);
}

.sign-up-link-div {
  font-size: 1.1rem;
}
.sign-up-link {
  color: rgb(249, 4, 4);
}

@media screen and (max-width: 700px) {
  .sign-in-form {
    width: 90%;
  }
}
