.profile-container {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      }
 
  .profile-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;    
    width: 40rem;
    border-radius: 20px;    
    height: 38rem;
  }
  .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;   
    gap: 1rem;
  }
  .profile-bg{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    object-fit: cover;
  }
  .profile-img{
    object-fit: cover;
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    box-shadow: 1px 2px 4px rgb(20, 0, 0);
    cursor: pointer;
  }
  .profile-form {
    height: fit-content;
    margin: 1rem;    
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .profile-input {
    background-color: rgb(219, 232, 241);
    padding: 1rem;
    border-radius: 10px;
    outline: none;
    border: none;
  }
  
  .profile-btn {
    color: aliceblue;
    padding: 1rem;
    border-radius: 10px;
    outline: none;
    border: none;
    text-transform: uppercase;
    box-shadow: 1px 3px 6px rgb(5, 0, 0);
    background-color: rgba(142, 100, 107, 0.847);
    font-size: larger;
    transition: 1s;
    cursor: pointer;
  }
  .profile-btn:hover{
    background-color: rgb(142, 100, 107);
  }
  .profile-actions{
    color: rgb(254, 3, 3);
    font-size: 1.1rem;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .profile-actions div{
    cursor: pointer;
  }

  .success-message{
    color: green;
    font-size: 1.1rem;
  }
  .listing-link{
    color: aliceblue;
    padding: 1rem;
    border-radius: 10px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    box-shadow: 1px 3px 6px rgb(5, 0, 0);
    background-color: rgba(34, 140, 24, 0.847);
    font-size: larger;
    transition: 1s;
    cursor: pointer;
  }
.listing-img{
  height: 16rem;
  width: 16rem;
}
  .show-listing-btn{
    background-color: transparent;
    color: green;
    border: none;
    outline: none;
cursor: pointer;
  }