.Header {
  width: 100%;
}

.header-container {
  background-color: var(--light);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.511);
  width: 100%;

  display: flex;
  padding: 0.5rem 2.5rem;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  font-size: 1.5rem;
}
.left-section:nth-child(0) {
  color: var(--red);
}
.left-section:nth-child(1) {
  color: var(--dark);
}

.header-form {
  background-color: #6b505a2d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  padding: 1rem;
  border-radius: 10px;
}
.header-input {

  background-color: #6b505a00;
  outline: none;
  border: none;
  color: var(--dark);
  font-size: 1.1rem;
  width: 80%;
}
.header-input::placeholder {
  font-size: 1.1rem;
  color: var(--dark);
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1.5rem;
  font-size: 1.3rem;
  color: var(--dark);
}
ul li {
  color: var(--dark);
  transition: all 3s ease-in;
}
ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.search-btn-container {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.3rem;
  color: var(--dark);
}

.avatar {
  
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

@media screen and (max-width: 500px) {
 .header-container{
 gap: 10%;
padding: 0rem;
 flex-wrap: wrap;
 }
.name-link{
  display: none;
}
.header-form{
  min-width: 70%;
}
ul{
  gap: 0rem;
 
}

}

@media screen and (max-width: 786px) {
  .header-container {
    padding: 0.6rem;
  }
  .list1,
  .list2 {
    display: none;
  }
  .left-section {
    font-size: 1.2rem;
  }
  .header-form {
    width: 30%;
    padding: 0.7rem;
    border-radius: 10px;
  }

  ul {
    font-size: 1.2rem;
  }
}
