.Header {
  position: absolute;
  width: 100%;
}

.header-container {
  background-color: transparent;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.511);
  width: 100%;
  
  display: flex;
  padding: 0.5rem 2.5rem;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  font-size: 1.5rem;
}
.left-section:nth-child(1) {
  color: rgb(7, 0, 2);
}

.header-form{
  background-color: rgba(187, 126, 136, 0.674);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  padding: 1rem;
  border-radius: 10px;
}
.header-input{
  background-color: transparent;
  outline: none;
  border: none;
}
.header-input::placeholder{
  font-size: 1.1rem;
  color: rgb(7, 0, 2);
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1.5rem;
  font-size: 1.3rem;
  color: rgba(15, 17, 19, 0.959);
}
ul li {
    color: rgb(141, 14, 39);
  transition: all 3s ease-in;
}
ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.avatar{
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

@media screen and (max-width: 386px) {
    .header-container {
    padding: 0.3rem;
    }
    .list1, .list2{
        display: none;
    }
    .left-section {
        font-size: 1rem;
      }
      .header-form{
      
        width: 25%;
        padding: 0.2rem;
        border-radius: 10px;
      }
      .header-input{
        font-size: small;
      }
      ul{
        font-size: 1rem;
      }
}

@media screen and (max-width: 786px) {
    .header-container {
    padding: 0.6rem;
    }
    .list1, .list2{
        display: none;
    }
    .left-section {
        font-size: 1.2rem;
      }
      .header-form{
      
        width: 30%;
        padding: 0.7rem;
        border-radius: 10px;
      }
      
      ul{
        font-size: 1.2rem;
      }
}