.create-listing{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.listing-upper{
   
    width: 100%;
    height: 15rem;
    background: url("../../assets/bg1.jpg") no-repeat center;
    background-size: cover;
}
.listing-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.listing-lower{
    padding: 1rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.form-container{
    display: flex;
    gap: 2rem;
}

.form-left{
  
    gap: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    flex: 1;
}

.listing-input{
    width: 30rem;
    background-color: var(--light);
    padding: 1rem;
    border-radius: 10px;
    outline: none;
    border: none;
}
.listing-textarea{
    width: 30rem;
    min-height: 5rem;
    background-color: var(--light);
    padding: 1rem;
    border-radius: 10px;
    outline: none;
    resize: vertical;
    border: none;
}

.check-box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    height: fit-content;
    padding: 10px;
    font-size: 1.3rem;
}
.check-box{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.checkbox{
    width: 2rem;
    height: 1rem;
}
.rooms-container{
    
    width: 20rem;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    gap: 1rem;
}
.rooms{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.rooms p{
    font-size: 1.4rem;
    font-weight: 600;
}
.rooms span{
    font-size: 1.3rem;
    font-weight: 500;
}
.room-input{
    padding: 10px;
    width: 5rem;
    height: 3rem;
}

/* right side */

.form-right{
    padding: 1rem;
     display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}
.listing-images-heading{
color: rgb(39, 2, 8);
font-size: 1.1rem;
}
.listing-images-container{
    display: flex;
    box-shadow: 1px 2px 5px rgba(154, 153, 153, 0.279);
    justify-content: space-between;
    align-items: center;
   padding: 10px;
    font-size: 1.5rem;
}
.file-input{
   
    font-size: 1.3rem;
}

.upload-img-btn{
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--dark);
    font-size: 1.2rem;
    padding: 10px 30px;
    border-radius: 10px;
}
.create-listing-btn{
    color: aliceblue;
    padding: 1rem;
    border-radius: 10px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    box-shadow: 1px 3px 6px rgb(5, 0, 0);
    background-color: var(--dark);
    font-size: larger;
    transition: 1s;
    cursor: pointer;
   
}
.create-listing-btn:hover{
    background-color: rgba(43, 17, 17, 0.879);
}
.image-delete-btn{
    background-color: transparent;
    border: none;
    outline: none;
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
}
.uploading-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 2px 5px rgba(154, 153, 153, 0.776);
    border-radius: 10px;
    padding: 1rem;
}
.listing-upload-img{    
    object-fit: cover;
    width: 12rem;
    height: 6rem;
}
.error-msg{
    color: red;
}

@media screen and (max-width: 1100px) {
    
.form-container{
    width: 100%;
    flex-direction: column;
}
.form-left{
 width: 100%; 
}
.listing-input,.listing-textarea, .rooms-container{
width: 100%;
}
.listing-images-container{
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}
.file-input{
   width: 100%;
    font-size: 1.3rem;
}

.upload-img-btn{
   width: 70%;
}

}


@media screen and (max-width: 450px){
    .uploading-container{
      
    flex-direction: column;
    gap: 1rem;
    }
    .listing-upload-img{    
        object-fit: cover;
        width: 100%;
        height: 6rem;
    }
}



